
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
}
html{
  font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}
.container{
    max-width: 1010px;
    margin: 0 auto;
}
h1{
  font-size: 3rem;
}
h2 {
    margin: 20px 10px;
    color: #4d243b;
  }
  hr{
    width: 80%;
    height: 4px;
    background-color: rgb(240, 239, 239);
  }
  .btn{
    background-color: brown;
    color: #fff;
    border-color: transparent;
    border-radius: 4px;
    padding: 10px;
  }
  input{
    background-color: rgba(128, 128, 128, 0.224);
    border-color: transparent;
    padding: 10px;
  }
  input:focus{
    outline: none;
    background-color: #dff8ed;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
   li {
    display: block;
    color: #000000;
    margin: 15px;
    font-size: 2rem;
    font-weight: 700;
    list-style: none;
    background-color: #42b983;
    border-radius: 25px;
    padding: 10px;
  }
  
  a {
    color: #42b983;
  }